.navbar {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.navbar a img {
    width: 196px;
    height: 66px;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-right: 40px;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 6px 15px;
    border: 1px solid grey;
    margin: auto;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

.search-bar button .icon {
    width: 20px;
    height: 20px;
}

.search-bar button {
    border: 0;
    background: transparent;
    color: #757575;
    cursor: pointer;
}

.links {
    margin-right: 20px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cart-icon {
    margin: 0;
}

.cart-icon a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-size: 20px;
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.categories a{
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    display: none;
}


@media (max-width: 750px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "div1 div3"
        "div2 div2";
        height: auto;
        padding-bottom: 5px;
    }

    .cart a {
        margin: 0;
    }
    
    .navbar a {
        grid-area: div1;
        font-size: 2rem;
    }

    .navbar a img {
        max-width: 100%;
        height: auto;
    }
      
    .search-bar {
        grid-area: div2;
        width: 90%;
        margin: auto;
    }
      
    .links {
        display: none;
        grid-area: div3;
    }

    .nav-btn {
        display: block;
        margin-left: auto;
        margin-right: 15px;
    }

    .responsive_nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;            
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;                              
        background-color: blueviolet;
        margin: 0;
    }

    .responsive_nav .nav-btn {
        display: none;
    }

    .responsive_nav .nav-close-btn {
        display: block;
        position: absolute;
        top: 2rem;
        right: 1.5rem;

    }
}