.news-container {
    background-color: #111F4D;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-container h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.news-text {
    text-align: center;
}

.news-container input {
    font-size: 1rem;
    padding: .4rem 1rem;
    margin-right: .7rem;
    border: none;
    outline: none;
    border-radius: 5px;
}

.news-container button {
    font-size: 1rem;
    padding: .4rem 1rem;
    border: none;
    cursor: pointer; 
    border-radius: 5px;
}